

.portfolio-details {
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  
  .portfolio-details .container {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  .portfolio-details .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-info {
    padding-top: 45px;
  }
  
  .portofolio-bigtitle h2 {
    font-size: 22px;
    font-weight: 500;
  
    padding: 0;
    line-height: 1px;
    margin-top: 20px;
    letter-spacing: 2px;
  
    color: #890048;
    font-family: "Poppins", sans-serif;
  }

  .spacer {
    padding-bottom: 32px;
  }
  
  .portofolio-bigtitle #padding_small{
    padding-bottom: 16px;
    padding-top:32px;
  }
  
  .portofolio-bigtitle #padding_large{
    padding-bottom: 16px;
    padding-top:42px;
  }

  .img-padding{
    padding-bottom: 16px;
    padding-top:32px;
    padding-left: 32px;
    padding-right: 32px;

  }

  @media (max-width: 800px) {
    .mobile-img {
      height: 80vh;
      width: auto;
      padding-bottom: 32px;
    }
  }
  
  .mobile-img {
    height: 80vh;
    width: auto;
  }
  
  .wireframe-img{
    width: 99%;
    object-fit: contain;
    padding-bottom: 36px;
  }
  
  @media (min-width: 1024px) {
    .wireframe-img{
      width:auto;
    }
  }
  
  .title{
    color: #890048;
    font-weight: 300; 
    font-size: 48px;
  }