
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  
  .portfolio-details .container {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  .portfolio-details .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-info {
    padding-top: 45px;
  }
  
  .portofolio-bigtitle h2 {
    font-size: 22px;
    font-weight: 500;
  
    padding: 0;
    line-height: 1px;
    margin-top: 20px;
    letter-spacing: 2px;
  
    color: #1EEBA1;
    font-family: "Poppins", sans-serif;
  }
  
  .portofolio-bigtitle #padding_small{
    padding-bottom: 16px;
    padding-top:32px;
  }
  
  .portofolio-bigtitle #padding_large{
    padding-bottom: 16px;
    padding-top:42px;
  }
  
  
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-info p {
    font-size: 15px;
    padding: 15px 0 0 0;
  }
  
  @media (max-width: 992px) {
  /*  .portfolio-details .portfolio-info {
      padding-top: 20px;
    }*/
  }
  
  .portfolio-details .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  
  .portfolio-details .swiper-wrapper {
    width:100%;
    height:auto;
  }
  
  .portfolio-personas-slider .swiper-wrapper {
    width:100%;
    height:auto;
  }

 

  
  .portfolio-personas-slider .swipper-slide-wrapper{
    padding-right: 30px;
    padding-left: 30px;
  }
  
  
  
  .portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5489c8;;
  }

  
  .portfolio-details .swiper-slide {
    width:auto;
    height:auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
  
  .portfolio-details .swiper-wrapper .portofolio-hero-image {
    height: 80vh;
    width: auto;
  }




  .user-journey-slider .swiper-wrapper {
    width:100%;
    height:auto;
  }

  .user-journey-slider .swiper-wrapper .portofolio-hero-image {
    /*height: 80vh;*/
    width: 95%;
    height: 95%;
  }
  
  .user-journey-slider .swiper-slide{
    width:auto;
    height:auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .user-journey-slider .swipper-slide-wrapper{
    padding-right: 30px;
    padding-left: 30px;
  }
  
  
  .tabel-journey{
  
    width:90%;
  }
  
  #wireframes h3 {
    font-size: 18px;
    font-weight: bold;
  }
  

  @media (max-width: 800px) {
    .mobile-img {
      height: 80vh;
      object-fit: contain;
      width: auto;
      padding-bottom: 32px;
    }

    .wireframe-img {
      width: auto;
      height: 80vh;
      padding-bottom: 32px;
    }
  }
  
  .mobile-img {
    height: 80vh;
    object-fit: contain;
    width: auto;
  }
  
  .wireframe-img{
    width: 99%;
    object-fit: contain;
    padding-bottom: 36px;
  }
  
  
  .spacer_small {
    padding-bottom: 16px;
  }

  .title{
    color: #1EEBA1;
    font-weight: 300; 
    font-size: 48px;
  }